@font-face {
  font-family: "iconfont"; /* Project id 2537759 */
  src: url('iconfont.woff2?t=1620791560786') format('woff2'),
       url('iconfont.woff?t=1620791560786') format('woff'),
       url('iconfont.ttf?t=1620791560786') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconqianbao1:before {
  content: "\e672";
}

.iconqianbao:before {
  content: "\e64a";
}

.iconyinhangqia:before {
  content: "\e608";
}

.iconjiansheyinhang:before {
  content: "\e612";
}

.iconzhongguominshengyinhang:before {
  content: "\e619";
}

.iconzhongguoyinhang:before {
  content: "\e61a";
}

.iconzhaoshangyinhang:before {
  content: "\e660";
}

.iconweixinzhifu:before {
  content: "\e607";
}

.iconzhifubao:before {
  content: "\e60a";
}

.iconyinhang-yinlian-:before {
  content: "\e614";
}

.iconguangdayinhang:before {
  content: "\e616";
}

.iconyouzhengyinhang:before {
  content: "\e61d";
}

.iconzhongguogongshangyinhanglogo:before {
  content: "\e62f";
}

.iconzhongguonongyeyinhanglogo:before {
  content: "\e630";
}

.iconjiaotongyinhanglogo:before {
  content: "\e635";
}

.iconzhongxinyinhanglogo:before {
  content: "\e636";
}

.iconpinganyinhanglogo:before {
  content: "\e646";
}

